<div id="works">
    <span></span><h1>Cocktail monsters AR</h1>
    <iframe src="https://www.youtube.com/embed/t5SWEL_buv0?autoplay=0" type="text/html" allowfullscreen=""></iframe>
    <iframe src="https://www.youtube.com/embed/A3q0K3Mym3s?autoplay=0" type="text/html" allowfullscreen=""></iframe>
    <iframe src="https://www.youtube.com/embed/Zk-rVTvGies?autoplay=0" type="text/html" allowfullscreen=""></iframe>
    <div class="works_txt">
        <p>
            <a href="https://cafelasiesta.com/kakumon-ar/" target="_blank">KakumonAR</a><br>
            ※スマホのみ<br>
            *Only for smart phones<br>            
            <br>
            3D化したドットキャラを制作し、webARで閲覧できるシステム。<br>
            カフェ・ラ・シエスタ20周年企画として作成。<br>
            Created 3D boxel charactors models and web based AR system.<br>
            For <a href="https://cafelasiesta.com/" target="_blank">cafe la siesta</a>'s 20th anniversary event.<br>
        </p>
        <p class="works_tag">2021 Dec,　#WebAR　#AR　#Blender　#JavaScript</p>
    </div>
</div>