<div id="works">
    <span></span><h1>EMERGENCY! Hitachi Kyosoto</h1>
    <div class="works_txt">
        <img src="../../../assets/img/works/kyosoto.png">
        <p>
            Hack on Virtual!（(株)日立製作所.一般社団法人MA主催）にて、シミュレーションゲームを制作。<br>
            主にUE4でのゲームシステムの構築、デザインなどを担当。<br>
            <br>
            チーム　日立防衛団<br>
            災害シミュレーション＋避難訓練ツールの開発。<br>
            そこから着想し、未来のセンシングのあり方を見つめなおす。<br>
            <br>
        </p>
        <a href="https://protopedia.net/prototype/2167" target="=_blank">Concept sheet</a>
    </div>
    <iframe src="https://www.youtube.com/embed/FVSLtRDEObA?autoplay=0" type="text/html" allowfullscreen=""></iframe>
    <div class="works_txt">
        <p class="works_tag">2021 Feb. 13-28,　#Game　#Blender　#UnrealEngine　#Figma</p>
    </div>
</div>