<div id="works">
    <span></span><h1>Noseden Artline 2021 Online Music Livecasting</h1>
    <div class="works_txt">
        <img src="../../../assets/img/works/noseden.jpeg">
        <p>
            のせでんアートライン　Sawa AngstromとKan Sanoのライブ配信にて<br>
            ライティングデザイン、VJのアサイン、設営を行う。<br>
            Lighting and space design, assigning VJ, Installing.<br>
            <br>
            Photo : Natsumi Kinugasa<br>
            <br>         
            <a href="https://spktr.jp/2021/10/30/noseden-artline-2021-online-music-live/" target="_blank">SPEKTRA</a>との作品<br>
            Work with <a href="https://spktr.jp/2021/10/30/noseden-artline-2021-online-music-live/" target="_blank">SPEKTRA</a><br>

        </p>
        <p class="works_tag">2019-,　#audioreactive　#VJ　#TouchDesigner　#broadcast　#installation</p>
    </div>
</div>