<div id="works">
    <span></span><h1>Spark Koishiwara</h1>
    <div class="works_txt">
        <img src="../../../assets/img/works/arhackathon.jpeg">
        <p>
            withARハッカソン「伝統工芸×AR」にて、「ARで彩る⼩⽯原焼」をテーマに、Instagramフィルターを企画・制作・発表しました。<br>
            <br>
            Released IG effects at withAR Hackathon, which theme was "Koishiwara pottery with AR"<br>
            Our team did from planning and developping to presentation.<br>
            <br>
            IG account: <br>
            <a href="https://www.instagram.com/spark_koishiwara/" target="=_blank">@spark_koishiwara</a>
        </p>
    </div>
    <div class="works_txt">
        <p class="works_tag">2021 May 5-17,　#AR　#SparkAR　#InstagramFilter</p>
    </div>
</div>