<div id="works">
    <span></span><h1>大阪天満宮 てんま天神梅まつり</h1>
    <div class="works_txt">
        <img src="../../../assets/img/works/tenma1.jpeg">
        <img src="../../../assets/img/works/tenma2.png">
        <p>
            プロジェクションマッピング用映像制作。<br>
            花びらが舞うモーションビジュアルをTouchDesignerにてシミュレーション。
            プロジェクション、全体プロデュースは<a href="https://xorium.jp/" target="_blank">xorium</a><br>
        </p>
        <p class="works_tag">2020 Feb.,　#movie　#TouchDesigner</p>
    </div>
</div>