<div id="works">
    <span></span><h1>VJ, Assistance of broadcasting</h1>
    <div class="works_txt">
        <img src="../../../assets/img/works/vj.jpg">
        <p>
            VJ、配信サポート<br>
            Performing as a VJ and support broadcasting at events.<br>
            <br>
            2021.10.02 Sawa Angstrom×SPEKTRAワンマンライブ@UrBan Guild (VJ)<br>
            2020.05.25 しet stream part 2 (VJ)<br>
            2020.05.03 <a href="https://www.twitch.tv/videos/611085754" target="_blank">しet stream</a> (boradcasting)<br>
            2020.01.17 shota hirama “rough house”release tour @KyotoMetro (VJ)<br>
            2019.12.31 cafelasiesta COUNT DOWN PARTY (VJ)<br>
        </p>
        <p class="works_tag">2019-,　#audioreactive　#VJ　#TouchDesigner　#broadcast　#installation</p>
    </div>
</div>