<div id="contact" class="elements">
    <h1>Contact</h1>

    <div class="contact_el">
        <ul>
            <li>
                <img class="mail icon" src="../../assets/img/mail_icon.svg" alt="mail" />
                <h2 class="mail_address">nomnommorn@gmail.com</h2>
            </li>

            <li>
                <a href="https://www.instagram.com/nomnommorn_cr/" target="_blank">
                    <img class="ig icon" src="../../assets/img/IG_icon.svg" alt="Instagram" />
                    <h2 class="ig_account">@nomnommorn_cr</h2>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/nomnommorn/" target="_blank">
                    <img class="ig icon" src="../../assets/img/IG_icon.svg" alt="Instagram" />
                    <h2 class="ig_account">@nomnommorn</h2>
                </a>
            </li>
            <li>
                <a  href="https://twitter.com/nomnommorn" target="_blank">
                    <img class="ig icon" src="../../assets/img/twitter_icon.svg" alt="Instagram" />
                    <h2 class="ig_account">@nomnommorn</h2>
                </a>
            </li>
        </ul>
    </div>
</div>