<header>
  <div id="menuwrap">
    <h1 id="sitetitle">
      <a href="/">
        nomnommorn
       </a>
    </h1>
    <div id="menuarea">
      <ul id="menu">

          <li>
            <a href="/">
              Top 
            </a>
          </li>
        
        <li>
          <a href="/profile">
            Profile 
          </a>
        </li>

        <li>
          <a href="/works">
            Works
          </a>
        </li>
        
        <li>
          <a href="/contact">
            Contact
          </a>
        </li>

      </ul>
      <!-- <img class="downarw" src="./assets/img/down_arrow_icon.svg" alt="down arrow"> -->
      <svg class="downarw" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve">
        <polygon points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "/>
      </svg>
    </div>
  </div>
</header>