<div id="top" class="elements">
    <div class="copy">
      
    </div>

    <div id="geo">
        <canvas id="glcanvas" tabindex="1"></canvas>
        <libs/>
        <script type="text/javascript" src="./assets/js/cables/patch.js" async></script>
        <corelibs/>
    </div>

</div>