<div id="top" class="elements">
    <div class="copy">
      
    </div>

    <div id="geo">
        <canvas id="glcanvas" tabindex="1"></canvas>
        <p class="cableslink">
            made with <a href='https://cables.gl' target="_blank">cables</a>
        </p>
        <libs/>
        <script type="text/javascript" src="./assets/js/cables/patch.js" async></script>
        <corelibs/>
    </div>

</div>