<div id="works" class="elements">
    <h1>Works</h1>
      <ul id="works_wrap">
        <li class="works_elm">
          <Link href="/works/work01.html">
            <a>
              <h2>Cocktail monsters AR</h2>
              <p>AR</p>
              <img src="https://i.ytimg.com/vi/t5SWEL_buv0/hqdefault.jpg" width="302px"></img>
            </a>
          </Link>
        </li>
        <li class="works_elm">
          <Link href="https://scrapbox.io/nomnommorn/Cocktail_monsters_AR">
            <a>
              <h2>Cocktail monsters AR</h2>
              <p>AR</p>
              <img src="https://i.ytimg.com/vi/t5SWEL_buv0/mqdefault.jpg" width="302px"></img>
            </a>
          </Link>
        </li>
        <li class="works_elm">
          <Link href="https://scrapbox.io/nomnommorn/Cocktail_monsters_AR">
            <a>
              <h2>Cocktail monsters AR</h2>
              <p>AR</p>
              <img src="https://i.ytimg.com/vi/t5SWEL_buv0/mqdefault.jpg" width="302px"></img>
            </a>
          </Link>
        </li>
      </ul>
    </div>