<div id="works" class="elements">
    <h1>Works</h1>
      <ul id="works_wrap">
        <li class="works_elm">
          <a href="/works/Kakumon/">
            <div class="works_img">
              <img src="https://i.ytimg.com/vi/t5SWEL_buv0/mqdefault.jpg">
            </div>
            <h2>Cocktail monsters AR</h2>
            <p>2021 Dec.</p>
            <p>AR</p>
          </a>
        </li>
        <li class="works_elm">
          <a href="/works/Harmonize/">
            <div class="works_img">
              <img src="../../assets/img/works/harmonize1.jpg">
            </div>
            <h2>Harmonize</h2>
            <p>2021 Dec.</p>
            <p>installation</p>
          </a>
        </li>
        <li class="works_elm">
          <a href="/works/noseden21live/">
            <div class="works_img">
              <img src="../../assets/img/works/noseden.jpeg">
            </div>
            <h2>Noseden Artline 2021 Online Music Live</h2>
            <p>2021 Oct.</p>
            <p>AR</p>
          </a>
        </li>
        <li class="works_elm">
          <a href="/works/vj_broadcast/">
            <div class="works_img">
              <img src="../../assets/img/works/vj.jpg">
            </div>
            <h2>VJ, Assistance of broadcasting</h2>
            <p>2019-</p>
            <p>VJ, boradcasting, installation</p>
          </a>
        </li>
        <li class="works_elm">
          <a href="/works/yajiro21/">
            <div class="works_img">
              <img src="../../assets/img/works/yajiro21-2.png">
            </div>
            <h2>yajiro😆😬😵 AR</h2>
            <p>2021 Feb. 11</p>
            <p>AR</p>
          </a>
        </li>
        <li class="works_elm">
          <a href="/works/sparkkoishiwara/">
            <div class="works_img">
              <img src="../../assets/img/works/arhackathon.jpeg">
            </div>
            <h2>Spark Koishiwara</h2>
            <p>2019 Nov. 17</p>
            <p>AR</p>
          </a>
        </li>
        <li class="works_elm">
          <a href="/works/Kyosoto/">
            <div class="works_img">
              <img src="../../assets/img/works/kyosoto.png">
            </div>
            <h2>EMERGENCY! Hitachi Kyosoto</h2>
            <p>2021 Feb. 13-28</p>
            <p>Game</p>
          </a>
        </li>
        <li class="works_elm">
          <a href="/works/newview2020/">
            <div class="works_img">
              <img src="../../assets/img/works/newview1.jpeg">
            </div>
            <h2>AR: Artificial Reality</h2>
            <p>2021 Nov. 8</p>
            <p>AR</p>
          </a>
        </li>
        <li class="works_elm">
          <a href="/works/tenmaUmeFes/">
            <div class="works_img">
              <img src="../../assets/img/works/tenma1.jpeg">
            </div>
            <h2>大阪天満宮 てんま天神梅まつり</h2>
            <p>2020 Feb.</p>
            <p>Movie</p>
          </a>
        </li>
        <li class="works_elm">
          <a href="/works/dotFes/">
            <div class="works_img">
              <img src="../../assets/img/works/dotfes01.jpeg">
            </div>
            <h2>dotFes2019 - WORKSHOP2 TouchDesigner WORKSHOP(Beginner)</h2>
            <p>2019 Nov. 17</p>
            <p>AR</p>
          </a>
        </li>
      </ul>
    </div>