<div id="works" class="elements">
    <h1>Works</h1>
      <ul id="works_wrap">
        <li class="works_elm">
          <a href="/works/w01/">
              <img src="https://i.ytimg.com/vi/t5SWEL_buv0/mqdefault.jpg">
              <h2>Cocktail monsters AR</h2>
              <p>2021 Dec.</p>
              <p>AR</p>
          </a>
        </li>
        <li class="works_elm">
          <a href="/works/w02/">
              <img src="../../assets/img/w02.jpg">
              <h2>VJ, Assistance of broadcasting</h2>
              <p>2019-</p>
              <p>VJ, boradcasting, installation</p>
          </a>
        </li>
        <li class="works_elm">
          <a href="/works/w03/">
              <img src="../../assets/img/w03-2.png">
              <h2>yajiro😆😬😵 AR</h2>
              <p>2021 Feb. 11</p>
              <p>AR</p>
          </a>
        </li>
      </ul>
    </div>